.about-us-container {
    display: flex;
    width: 86.4%;
    border-radius: 30px;
    height: 20rem;
    margin: 5rem auto;
    padding: 50px;
    background-color: #13274f;
    color: #FED85D;
  }
  
  .left-section {
    flex: 1;
    padding-left: 30px;
  }
  
  .right-section {
    flex: 1;
    position: relative;
  }

  .right-content-wrapper {
    position: absolute;
    top: 0%; /* Adjust as needed */
    left: 0%; /* Adjust as needed */
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #ffff; /* Add your desired background color */
  }

  .left-section-second {
    flex: 1;
    margin-left: 5rem;
  }
  
  .right-section-second {
    flex: 1;
    position: relative;
  }
  