.footer {
  background: #13274ff6;
  padding: 1rem 0;
  color: #FED85D;
}
  
.container-footer {
  display: flex;
}

.logo-footer {
  width: 250px;
  height: 70px;
}

.logo {
  flex: 0.8;
  margin-left: 3rem;
  margin-right: 0rem;
}

.logo p {
  margin-left: 1rem;
}

.contact-container {
  flex: 1;
}

.copyright {
  text-align: center;
  margin-top: 3rem;
  padding: 0.5rem 0;
  background-color: #13274ff6;
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 0rem 0;
    text-align: center;
  }

  .container-footer {
    display: inline-block;
    text-align: left;
  }

  .logo {
    margin: 0 0;
    margin-top: 2rem;
    text-align: center;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .copyright {
    margin-top: 1.5rem;
  }
}
  
  