.pricing-container {
    font-family: 'Zen Antique Soft', sans-serif;
    width: 96%;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13274f;
    color: #FED85D;
  }
  
  .pricing-frame {
    width: 100%;
    text-align: center;
  }
  
  .big-header-pricing {
    font-size: 2em;
    margin-top: 3rem;
    font-size: 2.3rem;
  }
  
  .main-text-pricing {
    font-size: 1.1rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  
  .small-headers-pricing {
    display: flex;
    justify-content: space-between;
  }
  
  .small-header-pricing {
    flex: 1;
    text-align: center;
  }
  
  .small-header-pricing h2 {
    font-size: 24px;
    margin-top: 4rem;
  }
  
  .small-header-pricing p {
    margin-bottom: 4rem;
    font-size: 19px;
  }
  