.services {
    font-family: 'Zen Antique Soft', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13274F;
    height: 35rem;
  }
  
  .header-services {
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 80px;
    color: #FED85D;
  }
  
  .boxes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    background-color: whitesmoke;
    overflow: hidden;
    margin: 0 30px;
    opacity: 1;
    width: 360px;
    height: 300px;
    color: #13274F;
  }
  
  .box.half-faded {
    opacity: 0.2;
  }
  
  .box-content {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  
  .box-icon {
    margin-bottom: 20px;
    font-size: 35px;
    color: #FED85D;
  }
  
  .arrow {
    font-size: 32px;
    cursor: pointer;
    margin: 0 10px;
    color: #FED85D;
  }
  
  .arrow:hover {
    color: #fed85db1;
  }
  
  @media screen and (max-width: 992px) {
    .services {
      height: 27rem;
    }

    .header-services {
      font-size: 32px;
      margin-top: 40px;
      margin-bottom: 50px;
      color: #FED85D;
    }

    .box-icon {
      margin-bottom: 0px;
      width: 25px;
      height: 20px;
    }

    .box h3 {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 16px;
      text-align: center;
    }

    .box p {
      font-size: 14px;
      margin: 0;
    }

    .box {
      padding: 0px;
      margin: 0 25px;
      width: 230px;
      height: 200px;
    }

    .box.half-faded {
      opacity: 0;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
    }

    .arrow {
      font-size: 28px;
      margin: 0 8px;
      color: #FED85D;
    }

  }
  